.container {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.logo {
  height: 32px;
}

.title {
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  padding: 0 4px;
}

.description {
  color: #222;
  opacity: 0.55;
  margin: 0 0 0 0.4em;
  padding: 8px 0 0 8px;
}
